@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border-box: box-sizing;
}

html,
body {
	height: 100vh;
	position: relative;
	color: #fff;
}

@layer utilities {
	.glass {
		background: rgba(132, 166, 158, 0.3);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
}
